
# /hector_quadrotor_controller/
/hector_quadrotor_controller/bin
/hector_quadrotor_controller/build
/hector_quadrotor_controller/lib

# /hector_quadrotor_controller/matlab/
/hector_quadrotor_controller/matlab/emcprj

# /hector_uav_msgs/
/hector_uav_msgs/bin
/hector_uav_msgs/build
/hector_uav_msgs/lib
/hector_uav_msgs/msg_gen
/hector_uav_msgs/src
/hector_uav_msgs/srv_gen

# more ignores
/hector_quadrotor_controller/urdf/quadrotor_plugins.urdf.xacro
/hector_quadrotor_gazebo/build/
/hector_quadrotor_gazebo_plugins/build/
/hector_quadrotor_gazebo_plugins/lib/
/hector_quadrotor_teleop/bin/
/hector_quadrotor_teleop/build/
/hector_quadrotor_urdf/build/

# emacs cruft
*~
